# Node
.agent/
node_modules/
checklist_output.txt

dist/
out/
backend-windows/build/
backend-macOS/build/
backend-linux/build/
.env
release/
Patches/
resources/.py

# Python
__pycache__/
*.py[cod]
dist_obf/
pyarmor.log
*$py.class
venv/
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db