# Node
node_modules/
dist/
out/
backend-windows/build/
backend-macOS/build/
backend-linux/build/
.env
release/
resources/.py

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db
