[pyarmor]
# Obfuscation mode: 1 = standard 
obf_code = 1
obf_mod = 0
# Wrap each module individually (
wrap_mode = 0
# Enable assertion that obfuscated code runs only with PyArmor runtime 
assert_import = 0
